* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Afacad Flux", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: #243642;
    padding: 20px;
    height:150vh;
    zoom:80%;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #f3f3f39f;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size:40px;
}

h2{
     
    margin-bottom:20px;
}

.tabela-container h2{
    font-size:35px;
    text-align:center;
}

form {
    margin-bottom: 20px;
}

.form-container, .distribuicao-container, .tabela-container {
    margin-bottom: 30px;
}

label {
    display: block;
    margin-bottom: 15px;
    font-weight:bold;
    font-size:22px;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 15px;
    background-color: #3f3f3f;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #1b1b1b;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;

}

th {
    background-color: #f8f8f8;
    font-size:20px;
}

ul {
    font-weight:bold;
    margin-left:20px;
} 

td {
    font-weight: 500;
}

marker{
    margin-left:10px;
}

tbody#user-tabela{
    background-color:white;
}

#me{
    text-align:center;
    padding:100px;
    font-size:40px;
}